<li class="trip">
  <span class="color">
    <% trip.legs.each do |leg| %><span style="background: <%= leg.city.color %>; width: <%= 100 / trip.legs.length %>%">&nbsp;</span><% end %>
  </span>
  
  <%= link_to trip_name(trip), trip %><br />
  <small>
    <%= our_date_and_year(trip.start) %> to <%= our_date_and_year(trip.finish) %>. 
    <span class="lesser"><%= number_with_delimiter trip.distance %>km, <%= number_with_delimiter trip.carbon_kg %>kg of CO<sub>2</sub></span>
  </small>
</li>
