<% content_for :metatags do %>
  <link rel="shortcut icon" href="<%= @trip.icon_path %>" />
<% end %>

<div class="col-md-12">
  <h1>
    <%= image_tag @trip.icon_path %>
    Trip to <%= @trip.legs.collect { |l| l.city.name }.to_sentence %>
  </h1>

  <p>
    <% if current_user == @trip.user %>
      <%= link_to "Edit Trip", edit_trip_path(@trip) %> |
      <%= link_to "Delete Trip", @trip, :method => 'delete', :confirm => "Delete Trip.\n\nAre you sure?!?" %> |
    <% end %>

    <%= current_user == @trip.user ? "You #{@trip.future? ? 'are' : 'were'}" : link_to(@trip.user.first_name, @trip.user) + " #{@trip.future? ? 'is' : 'was'}" %>
    away for <%= trip_duration(@trip) %>.
    Travelling <b><%= number_with_delimiter @trip.distance %>km</b>
    and generating <b><%= number_with_delimiter current_user.carbon_kg %>kg of CO<sub>2</sub></b>.
  </p>
</div>

<div class="col-md-6">
  <h3>
    Destinations
  </h3>

  <table class="show-legs">
    <tr>
      <th>Destination</th>
      <th>Arrival</th>
    </tr>
  
    <% @trip.legs.each do |leg| %>
      <tr id="leg-<%= leg.id %>">
        <td>
          <span class="color">
            <span style="background: <%= leg.city.color %>; width: 100%">&nbsp;</span>
          </span>
          <%= link_to leg.city.name, [@trip, leg] %>
        </td>
        <td>
          <%= our_date leg.arrival %>
        </td>
      </tr>
    <% end %>
  
    <tr class="returning">
      <td><%= @trip.future? ? "Returning" : "Returned" %> home</td>
      <td>
        <%= our_date @trip.finish %>
      </td>
    </tr>
  </table>

  <% if current_user and current_user.friends_with?(@trip.user) and @trip.notes.present? %>
    <h3>
      Notes
    </h3>

    <%= simple_format @trip.notes %>
  <% end %>
  
  <br />
  <br />
</div>

<div class="col-md-6">
  <h3>Trip Map</h3>
  <div id="map"></div>
</div>

<script>
  new TripMap('#map', <%= @trip.user.city.as_json.to_json.html_safe %>, <%= @trip.to_json(:include => [:legs => {:include => [:city]}]).html_safe %>);
</script>