<h1>
  <%= @user.name %> on Radar
</h1>

<p>
  <% if current_user and current_user.friends_with? @user %>
    <%= @user.first_name %> is at home in <%= @user.city.name %>.
  <% end %>
  Radar user since <%= @user.created_at.to_date %>.
  Follow <%= link_to @user.nickname, "http://twitter.com/#{@user.nickname}" %> on twitter.
  <%= @user.first_name %> has travelled <b><%= number_with_delimiter @user.distance %>km</b>
  and generated <b><%= number_with_delimiter @user.carbon_kg %>kg of CO<sub>2</sub></b> in their travels.
</p>

<% if current_user and current_user.friends_with? @user %>
  <h3><%= @user.first_name %>s Upcoming Trips</h3>

  <% if @user.trips.upcoming.any? %>
    <ul>
      <% @user.trips.upcoming.order('start asc').each do |trip| %>
        <%= render :partial => 'trips/show', :locals => { :trip => trip } %>
      <% end %>
    </ul>
  <% else %>
    <p><%= @user.first_name %> doesn't have any upcoming trips.</p>
  <% end %>
<% end %>

<% cache :user => @user.nickname, :partial => 'trips', :expires_in => 1.minutes do %>
  <h3><%= @user.first_name %>s Past Trips</h3>

  <% if @user.trips.past.any? %>
    <div id="zeitgeist-map"></div>
  
    <ul>
      <% @user.trips.past.order('start desc').each do |trip| %>
        <%= render :partial => 'trips/show', :locals => { :trip => trip } %>
      <% end %>
    </ul>
  <% else %>
    <p><%= @user.first_name %> doesn't have any past trips.</p>
  <% end %>
<% end %>

<h3>Friends</h3>

<% if @user.friends.any? %>
  <div class="friends">
    <% @user.friends.each do |user| %>
      <%= link_to image_tag(user.image), user, :title => "@#{user.nickname} - #{user.name}" %>
    <% end %>
  </div>
<% else %>
  <p>
    This user has no friends using Radar.
  </p>
<% end%>

<% cache :json => 'raumzeitgeist', :expires_in => 1.minutes do %>
  <script>
    new Raumzeitgeist(<%= @user.trips.limit(500).past.to_json(:include => [:legs => {:include => [:city]}]).html_safe %>);
  </script>
<% end %>