<% content_for :metatags do %>
  <link rel="shortcut icon" href="<%= @leg.trip.icon_path %>" />
<% end %>

<div class="col-md-12">
  <h1>
    <%= index_of_leg(@leg).capitalize %> <span class="lesser">destination of a</span>
    <%= link_to "trip", @leg.trip %>
    <span class="lesser"> to</span> <%= @leg.city.name %>
  </h1>

  <p>
    Away for <%= trip_duration(@leg) %>.
  </p>
</div>

<div class="col-md-6">
  <h3>
    Venues
  </h3>
  
  <% if @leg.venues.any? %>
    <% @leg.venues.each do |venue|%>
      <div class="venue">
        <%= image_tag venue.icon, :class => 'icon' %>
        <h5><%= truncate(venue.name, :length => 50) %></h5>
        <address><%= venue.address %></address>
        <% if venue.notes.present? %>
          <div class="notes"><%= simple_format venue.notes %></div>
        <% end %>
        <p class="meta">Added <%= time_ago_in_words venue.created_at %> ago |
          <%= link_to "Remove" , [@leg.trip, @leg, venue], :method => 'delete' %>.
        </p>
      </div>
    <% end %>
  <% else %>
  <p class="default">
    Here you can add venues that <%= @leg.trip.future? ? "you will visit" : "you have visited" %>
    in <%= @leg.city.name %>.
  </p>
  <% end %>

  <%= form_for @leg.venues.build do |f| %>
    <%= f.hidden_field :leg_id %>

    <div class="f">
      <label>
        Add a Venue by name
      </label>
      <%= f.text_field :name, :style => 'width: 100%' %>
      <%= f.hidden_field :address %>
      <%= f.hidden_field :category %>
      <%= f.hidden_field :phone %>
      <%= f.hidden_field :website %>
      <%= f.hidden_field :icon %>
      <%= f.hidden_field :foreign_key %>
      <%= f.hidden_field :latitude %>
      <%= f.hidden_field :longitude %>
    </div>
    
    <div class="f">
      <label>
        Description / Notes
      </label>
      <%= f.text_area :notes, :style => 'width: 100%' %>
    </div>
    
    <div class="f">
      <%= submit_tag "Add Venue", :class => 'btn btn-primary' %>
    </div>
  <% end %>
  
</div>

<div class="col-md-6">
  <h3>Map</h3>
  <div id="map"></div>
</div>

<script>
  // new TripMap('#map', <%= @leg.city.as_json.to_json.html_safe %>);

  if(true){
    new LegController(<%= @leg.city.as_json.to_json.html_safe %>);
  }else{
  $("#venue_name").foursquareAutocomplete({
    latitude: <%= @leg.city.latitude %>,
    longitude: <%= @leg.city.longitude %>,
    oauth_token: "your oauth token",
    client_secret : "<%= foursquare_secret %>",
    client_id : "<%= foursquare_id %>",
    minLength: 3,
    search: function (event, ui) {
      $("#venue_name").val(ui.item.name);
      $("#venue_foreign_key").val("foursquare-" + ui.item.id);
      $("#venue_address").val([ui.item.address, ui.item.cityLine].join(", "));
      $("#venue_category").val(ui.item.category);
      $("#venue_latitude").val(ui.item.latitude);
      $("#venue_longitude").val(ui.item.longitude);
      return false;
    },
    onError : function (errorCode, errorType, errorDetail) {
      var message = "Foursquare Error: Code=" + errorCode + ", errorType= " + errorType + ", errorDetail= " + errorDetail;
      console.log(message);
    }
  });
  }

</script>