
<h1>
  Welcome to Radar!
</h1>

<br />

<h3> 
  We help you share your travel plans with friends.
</h3>

<p>
  Radar is a tool for sharing your upcoming travel plans with the people you follow on Twitter, so that
  you can see if you are going to be in the same town as one of your followers, at the same time.
</p>

<br />

<h3>
  Rescue yourself from the Dopplr shutdown!
</h3>

<p>
  Are you a <%= link_to "Dopplr", "http://www.dopplr.com/" %> user, and don't want to 
  <%= link_to "migrate to TripIt", "https://github.com/jlev/Dopplr2TripIt" %>? Well, you're in luck!
  We make it easy to download your data from Dopplr and migrate over to using Radar.
</p>
  
<br />

<h3>Get Started</h3>

<p>
  <%= link_to 'Login with Twitter', '/auth/twitter', :class => 'btn btn-primary' %>
</p>

<br />

<h3>Who is behind this?</h3>

<p>
  Radar is a project by <%=  link_to "Ben Nolan", "http://www.bennolan.com/" %> of <%= link_to "Nolan Consulting", "http://www.nolanconsul.com/" %>.
  Follow me on <%= link_to "Twitter", "http://www.twitter.com/bnolan/" %>.
  <%= link_to "Terms of use", terms_path %>.
</p>

<h3>Screenshots</h3>

<p class="screenshot">
  <%= image_tag "radar-screenshot-2.png" %><br />
  Your home page, view of upcoming and past trips.
</p>

<p class="screenshot">
  <%= image_tag "radar-screenshot-1.png" %><br />
  View your trip on a map, with KG of carbon and distance travelled.
</p>