<h1>
  Hi <%= current_user.first_name %> and welcome to Radar!
</h1>

<p>
  To get started, please tell us your email address and your home location.
  We won't share your email address, and your home location is only shared
  with people you follow on Twitter.
</p>
<br />

<%= form_for current_user do |f| %>
  <div class="f">
    <label>Your email address:</label><br />
    <%= f.text_field :email, :style => 'width: 400px' %>
  </div>
  <br />

  <div class="f">
    <label>Your home city:</label><br />
    <%= f.text_field :city, :value => f.object.city.name, :style => 'width: 400px' %>
    <%= f.hidden_field :city_path %>
    <%= f.hidden_field :latitude %>
    <%= f.hidden_field :longitude %>
  </div>
  
  <br />
  
  <div class="f">
    <%= submit_tag "Set location", :class => 'btn btn-primary' %>
  </div>
<% end %>
